@model IEnumerable<DistributionManagementWebForm.Models.Account>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.username)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.is_activated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Profile.first_name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.is_activated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Profile.first_name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.account_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.account_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.account_id })
        </td>
    </tr>
}

</table>
